<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--拦截规则
        auto-config：true 自动生成登录页面，做登录认证处理，退出处理
        请求头：BasicAuthentication:Basic {token}
        use-expressions: intercept-url 这个标签的access属性的配置，true是，access的值就可以使用表达式
                          false access的值就只能是一ROLE_打头的字符串与几个常量值

    -->

    <security:http auto-config="true" use-expressions="false">
        <!--
            intercept-url 拦截的url，pattern 拦截的url对应的格式，格式满足就拦截
            access 需要什么权限或角色才可以访问符合pattern的url
            pattern="/**" access ="ROLE_ADMIN" 只有ROLE_ADMIN 角色的人才可以访问我的系统
        -->

        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>
    </security:http>

    <!--认证管理器-->

    <security:authentication-manager>
        <!--
        authentication-provider 认证用户信息的提供者
        -->
        <security:authentication-provider>
            <!--用户信息提供者-->
            <security:user-service>
                <!--在内存中定义用户信息-->
                <!--{noop} no operation 明文，不需要做特殊处理-->
                <security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>